<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Dashboard</title>
</head>

<body>

    <div style="display: flex;">

        <!-- SIDEBAR -->

        <%- include("./partials/sidebar.ejs"); %>

        <!-- DASHBOARD -->

        <div class="dashboard">
            <div class="header">
                <div id="header-box">
                    <h2>Welcome Back, Anuj</h2>
                    <p>You can look through your previous sessions or start a new one.</p>

                    <img id="illustration" src="/public/img/header-illust.svg" alt="header-illustration" />
                </div>
            </div>

            <!-- MEETINGS TABLE -->

            <div class="wrapper">
                <h2>Recent Sessions</h2>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Meet Link</th>
                                <th>Participants</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Creator</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>https://meet.google.com/hhh-qgkv-dsx</td>
                                <td>10</td>
                                <td>13/12/2021</td>
                                <td>10:20:50 PM</td>
                                <td>Anuj</td>
                                <td>
                                    <i class="bi bi-eye-fill"></i> &nbsp
                                    <i class="bi bi-pencil-fill"></i> &nbsp
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>https://meet.google.com/hhh-qgkv-dsx</td>
                                <td>10</td>
                                <td>13/12/2021</td>
                                <td>10:20:50 PM</td>
                                <td>Anuj</td>
                                <td>
                                    <i class="bi bi-eye-fill"></i> &nbsp
                                    <i class="bi bi-pencil-fill"></i> &nbsp
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>https://meet.google.com/hhh-qgkv-dsx</td>
                                <td>10</td>
                                <td>13/12/2021</td>
                                <td>10:20:50 PM</td>
                                <td>Anuj</td>
                                <td>
                                    <i class="bi bi-eye-fill"></i> &nbsp
                                    <i class="bi bi-pencil-fill"></i> &nbsp
                                    <i class="bi bi-trash-fill"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn">Add New</button>

                <!-- PAGINATION -->

                <div class="pagination">
                    <ul>
                        <li class="prev"><span><i class="bi bi-chevron-left"></i></span></li>
                        <li class="num"><a href="#"><span>1</span></a></li>
                        <li class="num"><a href="#"><span>2</span></a></li>
                        <li class="dot"><span>..</span></li>
                        <li class="num"><a href="#"><span>4</span></a></li>
                        <li class="num"><a href="#"><span>5</span></a></li>
                        <li class="dot"><span>..</span></li>
                        <li class="num"><a href="#"><span>7</span></a></li>
                        <li class="next"><span><i class="bi bi-chevron-right"></i></span></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>



</body>

</html>