/*---------------- ROOT CSS------------- */
* {
  margin: 0;
  padding: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
/* --------------ICON(IF YOU PREFER MOBILE VIEW)---------- */
.icon {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
  align-items: center;
}
.iconimage {
  background: url(/public/img/logo+fav.svg);
  width: 10%;
  height: 15vh;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
/*---------------------- WRAPPER---------------------------- */
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

/* -----------------------------SIGN IN FORM -------------------*/
.Sign_In_Form {
  margin-right: 10%;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  padding: 2% 2%;
  box-sizing: border-box;
  width: 30%;
  position: relative;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 4% 5%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4%;
  border: 1px solid #e5e5e5;
}
#login {
  background-color: #2da4f4;
  color: white;
  padding: 2% 2%;
  border: none;
  cursor: pointer;
  width: 40%;
  height: 10%;
  border-radius: 4%;
}

#login:hover {
  background-color: #fff;
  color: #2da4f4;
}
#dont_have_a_account {
    margin-top:2%;
    margin-right: 2%;
    font-weight: lighter;
  }
  #create_a_new_account {
    margin-top:2%;
    margin-right: 2%;
    color: #2da4f4;
  }
/* --------------------IMAGE AND HEADING-------------- */
.image {
  margin: 1%;
  padding: 0;
  background-image: url(/public/img/loginbg.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 70%;
  height: 95vh;
  border-radius: 1%;
}

#automated_attendance {
  width: 100%;
  text-decoration-color: beige;
  float: right;
  text-align: right;
}
.image_heading {
  margin: 0;
  padding: 0;
  width: 30%;
  background: url(/public/img/logo.svg);
  height: 25vh;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  margin-top: 5%;
  margin-right: 5%;
  padding-right: 5%;
}

