/*----- ROOT CSS -----*/

* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*----- MEETING DETAILS -----*/

.meeting-details {
    height: 100vh;
    width: 30vw;
    float: right;
    padding: 2rem;
}

.meeting-details h2{
    margin-bottom: 2rem;
}

.meeting-details h5{
    color: #666;
    font-weight: 400;
}

.meeting-parameters{
    display: flex;
    margin-bottom: 2rem;
}

.parameter-icons{
    font-size: 1.5rem;
    background-color: #EAEBFF;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
}

.meeting-parameters i{
    color: #9DA2F2;
}

.parameter-details{
        margin-left: 1rem;
}

/*----- TABLE, NEW PARTICIPANT BUTTON -----*/

.wrapper {
    padding: 2rem;
    width: 50%;
    margin: 1rem auto;
}

/*----- TABLE -----*/

.table {
    border-radius: 10px;
    border: 0.2px solid #e8e8e8;
    margin-bottom: 1rem;
}

.table table {
    border-spacing: 0px;
    width: 100%;
    text-align: left;
    font-weight: 400;
}

.table thead {
    background-color: #D8EDFF;
}

table th:first-child {
    border-radius: 10px 0 0 0;
}

table th:last-child {
    border-radius: 0 10px 0 0;
}

.table tbody td {
    border-top: 0.2px solid #e8e8e8;
}

.table th, td {
    padding: 0.8rem 1rem;
}

/*----- NEW PARTICIPANT BUTTON -----*/

.btn {
    padding: 0.5rem 2rem;
    background-color: #D8EDFF;
    color: #0099FF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn:hover {
    background-color: #0099FF;
    color: #fff;
}
