<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/css/AboutPage/About.css" />

<div>
  <!-- SIDEBAR -->

  <%- include("../partials/sidebar.ejs"); %>

    <!-- About -->

    <div class="about">

      <h1>The Automated Attendance Project</h1>
      <p>
        In this era of online education, one big hassle is tracking the attendance of students. Hence,
        this project is aimed to solve this problem, by providing an online tool (a bot, so to speak),
        that can automatically join the specified meeting at the specified time and take record of the
        students present in the meet at that time and then, leave automatically. This tool also
        provides the history of all the meetings of the user and the corresponding records of students,
        for future use.
      </p>
      <br>
      <p><b> Made by Abhinav, Anuj, Ritik and Rachit </b></p>
      <br>
      <div class="tut">
        <h3>Tutorial</h3>
        <ul>
            <li>
                <h4>Step 1</h4>
                <p>Login to you account. If you don't have an account, Register to create a new account.</p>
                <p> 
                    <img src="/img/sign-in.gif" alt="sign-in-page">
                </p>
            </li>
            <li>
                <h4>Step 2</h4>
                <p>After login process, you will be redirected to your dashboard where you can see all your meetings
                    records. 
                    To add a new meeting, click on 'Add New' Button > Add Meet Link,Date,Time and Name of the creator of the Meet  > Click
                    on 'Add' and your meeting will be added to take Attendance.</p>
                <p>
                <img src="/img/dashboard.gif" alt="">
                </p>
            </li>
            <li>
                <h4>Step 3</h4>
                <p>Incase,you want to add someone's attendance additionally,then
                    Click on the eye shaped icon in Action Column of Dashboard table>Redirected to Meeting Details page>Click on New Participant button>Add the name of Participant>Click  on Add
                </p>
                <p> 
                    <img src="/img/meeting-details.gif" alt="meet-page">
                </p>
            </li>
            <li>
                <h4>Step 4</h4>
                <p>From dashboard, you can <b>Read <span style="color: rgb(88, 185, 84);" class="iconify read"
                    data-icon="fa-solid:book-open" data-inline="false"></span>, &nbsp; Edit <span
                    style="color: rgb(39, 94, 245);" class="iconify" data-icon="clarity:edit-solid"
                    data-inline="false"></span> &nbsp; or Delete <span style="color: rgb(230, 62, 62);" class="iconify"
                    data-icon="ant-design:delete-filled" data-inline="false"></span></b> &nbsp; your records by
            clicking the buttons corresponding to each record.</p>
                <p><img src="/img/edit-and-delete.gif" alt="main-page"> </p>
            </li>
        </ul>
        <h3>How it works</h3>

        <ul>
            <li>
                <h4>Step 1</h4>
                <p>First,Add your Meeting.</p>
                <p> 
                    <img src="/img/dashboard.gif" alt="sign-in-page">
                </p>
            </li>
            <li>
                <h4>Step 2</h4>
                <p> 
                    Once meeting is added,simply on the given time bot will join the meeting and take attendance.
                </p>
                <p> 
                    <img src="/img/botentry.gif" alt="">
                </p>
                
            </li>
            <li>
                <h4>Step 3</h4>
                <p>Once the attendance is done,you can check who was present or not by clicking on the eye icon of the attendance 
                    present on Dashboard.</p>
                <p> 
                    <img src="/img/attendance-details.gif" alt="meet-page">
                </p>
            </li>
        </ul>
    </div>
    </div>