<div>
  <h1>About Page</h1>
  <p>
    In this era of online education, one big hassle is tracking the attendance of students. Hence,
    this project is aimed to solve this problem, by providing an online tool (a bot, so to speak),
    that can automatically join the specified meeting at the specified time and take record of the
    students present in the meet at that time and then, leave automatically. This tool also
    provides the history of all the meetings of the user and the corresponding records of students,
    for future use.
  </p>
</div>
