/* -------------------ROOT CSS---------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}
/*------------------ WRAPPER-------------------------- */
.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

/* ---------------------------SIGN UP FORM------------------------- */
.Sign_Up_Form {
	margin-right: 5%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding: 2% 2%;
	width: 30%;
}

.details {
	padding: 10%;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 100%;
	padding: 4% 6%;
	margin: 4% 0;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4%;
	border: 1px solid #e5e5e5;
}
#signup {
	background-color: #2da4f4;
	color: white;
	padding: 2% 2%;
	margin: 3% 0;
	border: none;
	cursor: pointer;
	width: 40%;
	height: 10%;
	border-radius: 4%;
}
#signup:hover {
	background-color: #fff;
	color: #2da4f4;
}
.footer {
	display: flex;
	margin-top: 10%;
}
#already_have_an_account {
	font-size: smaller;
	margin: 2%;
	width: 100%;
}
#sign_in {
	font-size: smaller;
	color: #2da4f4;
	margin: 2%;
	width: 100%;
}
#sign_in:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* ---------------IMAGE AND HEADING SECTION------------------- */
.image {
	margin: 1%;
	padding: 0;
	box-shadow: 10px;
	background: url(/img/loginbg.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	border-radius: 2%;
}

.image_heading {
	margin: 5%;
	padding: 0;
	width: 25%;
	font-weight: bold;
	color: #fff;
	background: url(/img/logo.svg);
	height: 25%;
	background-repeat: no-repeat;
	float: right;
}
