/*----- ROOT CSS -----*/

* {
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

/*----- DASHBOARD -----*/

.dashboard {
	height: 100vh;
	width: 80vw;
	float: right;
}

/*----- DASHBOARD HEADER -----*/

.header {
	display: flex;
	background-image: url('/img/header-vector1.svg'), url('/img/header-vector2.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: top left, bottom right;
	margin: 2rem auto;
	height: 20%;
	width: 70%;
}

#header-box {
	width: 95%;
	height: 90%;
	margin: auto;
	background: linear-gradient(268.7deg,
			rgba(191, 225, 255, 0.6) 0.05%,
			rgba(238, 239, 255, 0.6) 99.95%);
	backdrop-filter: blur(3px);
	border-radius: 41.9417px 0px;
}

#header-box>p, h2 {
	position: relative;
	top: 30%;
	left: 5%;
}

#illustration {
	height: 8rem;
	float: right;
	position: relative;
	top: -4rem;
	right: 7rem;
	z-index: -1;
}

/*----- TABLE, ADD NEW BUTTON, PAGINATION DIV -----*/

.wrapper {
	width: 90%;
	margin: auto;
}

.wrapper h2 {
	margin-right: 5rem;
	display: inline;
	margin-bottom: 1rem;
	position: relative;
	left: 0%;
}

.wrapper>input {
	display: inline;
}

/* ---- DROPDOWN MENU AND SEARCH ----- */

.dropdown {
	display: inline;
}

.dropdown>input {
	border-radius: 3px;
	float: right;
	display: inline;
	margin: 0rem 1rem 1rem 0rem;
	width: 30%;
	padding: 8px;
	border: 1px solid #e5e5e5;
}

.dropdown>input:focus-visible{
	border: 1px solid rgb(117, 117, 117);
	outline: none;
}

.dropdown>select {
	border-radius: 3px;
	margin: 0rem 1rem 1rem 0rem;
	float: right;
	border: 1px solid #e5e5e5;
	padding: 5px;
	font-size: inherit;
}

.dropdown>select:focus-visible {
	border: 1px solid rgb(117, 117, 117);
}

/*----- TABLE -----*/

.table {
	margin-bottom: 1rem;
}

.table table {
	border: 0.2px solid #e8e8e8;
	border-spacing: 0px;
	width: 100%;
	text-align: left;
	font-weight: 300;
	border-radius: 10px;
}

.table thead {
	background-color: #d8edff;
}

table th:first-child {
	border-radius: 10px 0 0 0;
}

table th:last-child {
	border-radius: 0 10px 0 0;
}

.table tbody td {
	border-top: 0.2px solid #e8e8e8;
}

.table th,
td {
	padding: 0.8rem 1rem;
}

/*----- ADD NEW BUTTON -----*/

#add-new-meeting-btn {
	padding: 0.5rem 2rem;
	background-color: #d8edff;
	color: #0099ff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.2s all;
}

#add-new-meeting-btn:hover {
	background-color: #0099ff;
	color: #fff;
}

/*----- PAGINATION -----*/

.pagination {
	float: right;
	display: inline;
}

.pagination ul {
	font-size: 1.2rem;
	display: inline-flex;
	list-style: none;
}

.pagination ul li {
	text-align: center;
	font-weight: 700;
	width: 1.5rem;
}

.pagination ul li a {
	text-decoration: none;
	color: #000;
	padding: 0.2rem 0.5rem;
	transition: 0.2s all;
}

.pagination ul li.active,
.pagination ul li a:hover {
	color: #0099ff;
	background-color: #d8edff;
}

.pagination ul li i {
	width: 2rem;
}

/*----- ICONS -----*/

.bi {
	color: #666666;
}

.bi:hover {
	cursor: pointer;
}

/* EDIT MEETING POPUP */

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.modal-content {
	width: 20%;
	height: 40%;
	background-color: white;
	border-radius: 2%;
	text-align: center;
	position: relative;
	/* overflow: hidden; */
	padding-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
}
#edit-meeting-button {
	background-color: #2da4f4;
	color: white;
	padding: 2% 2%;
	border: none;
	cursor: pointer;
	width: 40%;
	height: 10%;
	border-radius: 4%;
	margin-top: 4%;
	transition: 0.2s all;
	cursor: pointer;
}
#edit-meeting-button:hover {
	background-color: white;
	color: #2da4f4;
	border: 2px solid #2da4f4;
}

input {
	/* margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid #e5e5e5;
	border-radius: 2%; */
	width: 100%;
	padding: 4% 4%;
	margin: 4% 0;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4%;
	border: 1px solid #e5e5e5;
}
#edit_participant {
	color: #666666;
	font-weight: bold;
	margin: 10%;
}
.close-edit {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}
/* ADD NEW MEETING POPUP */
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.modal-content {
	width: 25%;
	height: 60%;
	background-color: white;
	border-radius: 2%;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	padding-right: 1%;
}
#new-meeting-form{
	 
}
#add-meeting-button {
	/* background-color: #2da4f4;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block; */
	background-color: #2da4f4;
	color: white;
	padding: 2% 2%;
	border: none;
	cursor: pointer;
	width: 40%;
	height: 10%;
	border-radius: 4%;
	margin-top: 4%;
	transition: 0.2s all;
}
#add-meeting-button:hover {
	background-color: white;
	color: #2da4f4;
	border: 2px solid #2da4f4;
}

input {
	/* margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid #e5e5e5;
	border-radius: 2%; */
	width: 80%;
	padding: 4% 5%;
	margin: 2% 0;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4%;
	border: 1px solid #e5e5e5;
}
#add_meet {
	color: #666666;
	font-weight: bold;
	margin:5%;
}
.close-new {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}


/* 
/*----- RESPONSIVNESS -----*

@media only screen and (max-width: 1300px){

    #illustration{
        right: 2rem;
    }
}

@media only screen and (max-width: 1000px){
   
    .dashboard {
        width: 95vw;
    }    

}

@media only screen and (max-width: 900px){

    .pagination ul li {
        width: 3rem;
    }
    .bi{
        padding: 1rem 2rem;
    }

}
 */