<h1> Sign Up Form </h1>

<form method="POST" action="/api/users/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button> Submit </button>
</form>

<li><a href="/">Sign Up</a></li>
<li><a href="/api/users/logout">Logout!</a></li>
<li><a href="/api/users/login">Login!</a></li>